/*Prevent Problems on Different Browsers*/
* {box-sizing: border-box;}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    font-size: 16px;
}
/* header stuff here */
header {
    padding: 1rem 2vw;
}
header span {
    margin: 0;
    color: #895772;
    font-size: 2rem;
    font-weight: 700;
}
header p {
    margin: 0;
    color: #895772;
    font-size: 1.22rem;
    letter-spacing: 2px;
}

/* small navigation stuff here */
@media only screen  and (max-width: 800px) {
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav a{
        display: block;
        text-align: center;
        padding: .8rem;
        color: #8C501B;
        text-decoration: none;
        border-bottom: solid 1px #eee;
         font-weight: 700;
    text-transform: uppercase;

    }
 nav .active a {
    background-color: #8C501B;
    color: #eee;
 background-image: linear-gradient(to bottom, #8b5022, #663b19);
 }   
}

/* large navigation stuff here */
@media only screen  and (min-width: 801px) {
    nav {
    border-top: solid 1px #E0E6E6;
    
}
nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: 1.2rem 1rem .3rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #8C501B;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid 2px #fff;
}

nav .active a {
    border-bottom: solid 2px #8b5022;
}
nav a:hover {
    color: #000;
}
}



/* main stuff here */
main {
    padding: 1rem 2vw;
}

main h1 {
    color: #8b5022;
    font-size: 2.5rem;
    margin: .5rem 0 .8rem 0;
    font-weight: 200;
}
main h2 {
    color: #8b5022;
    margin-bottom: .2rem;
}
main p {
    color: #333;
    margin: 0 0 .8rem 0;
    line-height: 150%;
    font-size: 1.2rem;
}
main a {
    color: #9c3335;
}

.hero {
    width: 100%;
    height: auto;
}

.angeloGallery {
    display: flex;
    flex-wrap: wrap;
} 
.angeloGallery section {
    flex-basis: 50%;
    margin: 1rem 0;
    
}
.angeloGallery span {
    display: block;
    text-align: center; 
    font-weight: 700;
    color: #895772;
}
.angeloGallery img {
    width: 98%;
    height: auto;
    border-radius: 5px;
}
.angeloGallery img:hover {
    box-shadow: 6px 6px 0 rgba(0,0,0,0.5);
}



/* footer stuff here */
footer {
    border-top: solid #895772 1px;
    text-align: center;
    color: #8b5022;
    font-size: .8rem;
    padding: 1rem 0;
    clear: both;
}
footer a {
    color: #8b5022;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}