body {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    margin: 0;
}
/* header stuff here */
header {
    padding: 1rem 2vw;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

header span {
    margin: 0;
    color: #54691f;
    font-size: 1.3rem;
    font-weight: 600;
}

/* PHONE NAV HERE */
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 1.2rem;
        font-size: 1rem;
        text-decoration: none;
        color: #54691f;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #aaa; 
    }
    nav .active a {
        background-color: #54691f;
        color: white;
    }
} /*end small screens*/


/* LARGE NAV HERE */
@media only screen and (min-width: 601px) {
    nav {
        background-color: #d3c1a1;
    }
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        display: flex;
    }
    nav a {
        display: block;
        padding: .8rem 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: #111;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        border-left: solid 1px rgba(0,0,0,0.2);
    }

    nav .active a {
        color: #54691f;
    }
    nav a:hover {
        color: #3179AF;
    } 
} /*end large screens*/



/* main stuff here */
main {
    padding: 0 2vw;
}

main h1 {
    color: #3179af;
    font-size: 2rem;
    margin: .5rem 0 .8rem 0;
    font-weight: 600;
}
main h2 {
    color: #8b5022;
    margin-bottom: .2rem;
    font-weight: 600;
}
main p {
    color: #333;
    margin: 0 0 .8rem 0;
    line-height: 140%;
    font-size: 1.2rem;
}
main a {
    color: #54691f;
    font-weight: 600;
    text-decoration: none;
}
main a:hover {
    color: #3179af;
    text-decoration: underline;
}
ul li {
    color: #8b5022;
    font-weight: 600;
    line-height: 135%;
}

/* image stuff here */
.teamHero, .image-right img {
    width: 100%;
    height: auto;
}

.image-right {
    float: right;
    margin: 0 0 0 2vw;
    width: 50%;
}
.image-right figcaption {
    text-align: center;
    font-size: .8rem;
}

/* table stuff */
table.activities {
width: 100%;
border-collapse: collapse;
}
table.activities th {
    background-color: #3179AF;
    color: white;
    padding: .6rem 0;
    text-align: left;
    clear: both;
}
table.activities td {
    color: #54691f;
    padding: .4rem 2%;
}
table.activities tr:nth-child(odd) {
background-color: #eee;
}
table.activities tr:hover {
    background-color: #ddd;
}




/* footer stuff here */
footer {
    border-top: solid #895772 1px;
    text-align: center;
    color: #8b5022;
    font-size: .8rem;
    padding: 1rem 0;
    clear: both;
}
footer a {
    color: #8b5022;
}


/* footer stuff here */
header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}